@model CategoriaModel

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <div class="card-header">
    Editar Categoria
  </div>
  <div class="card-body">
    <form asp-action="Editar" asp-controller="Categoria" method="post">
      <div class="mb-3">
        <label class="form-label">Id</label>
        <input asp-for="nIdCategori" type="text" readonly="readonly" onmousedown="return false;" class="form-control">
        <span asp-validation-for="nIdCategori" class="text-danger"></span>
      </div>
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input asp-for="cNombCateg" type="text" class="form-control">
        <span asp-validation-for="cNombCateg" class="text-danger"></span>
      </div>
      <div class="mb-3">
       <label class="form-label">Desea activar esta categoria?</label>
        <br />
        <input asp-for="cEsActiva" data-val="true"  type="checkbox" value="true"/>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
      <a asp-action="Listar" asp-controller="Categoria" class="btn btn-warning">Volver a la lista</a>
    </form>
  </div>
</div>

