@model ProductoModel
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <div class="card-header">
    Editar producto
  </div>
  <div class="card-body">
    <form asp-action="Eliminar" asp-controller="Producto" method="post">
        <input asp-for="nIdProduct" type="hidden" class="form-control">

        <div class="alert alert-danger" role="alert">
            ¿Desea eliminar el producto: @Html.DisplayTextFor(p => p.cNombProdu)?
        </div>
      <button type="submit" class="btn btn-danger">Eliminar</button>
      <a asp-action="Listar" asp-controller="Producto" class="btn btn-warning">Volver a la lista</a>
    </form>
  </div>
</div>

